html, body {
	font: 16px verdana;
	height: 100%;
}

body  {
	color: var(--primary-text-color);
	background: var(--primary-bg-color);
	position: relative;
}

ul, ol, li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;  /* Konqueror */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE/Edge */
	user-select: none;
}

main {
	padding: 32px 0;
}

.container {
	max-width: 1280px;
	margin: auto;
	padding: 0 24px;
}

h1 {
	font-size: 2rem;
	width: 100%;
}
